{% load static %}
     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
        <div class="container">
             <div class="row">

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">İletişim</h4>
                            <p>Bizimle buradan iletişime geçebilirsiniz.</p>

                            <div class="contact-info">
                                 <p><i class="fa fa-phone"></i> <a href="tel:{{setting.phone}}">{{setting.phone}}</a></p>
                                 <p><i class="fa fa-envelope-o"></i> <a href="mailto:{{setting.email}}" target="_blank">{{setting.email}}</a></p>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Referanslarımız</h4>
                            <div class="latest-stories">
                                 <div class="stories-info">
                                      {{setting.references|safe}}
                                 </div>
                            </div>

                           
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                       <div class="footer-thumb">
                            <div class="opening-hours">
                                 <h4 class="wow fadeInUp" data-wow-delay="0.4s">Çalışma Saatlerimiz</h4>
                                 <p>Pazartesi - Cuma: <span>{{setting.weekdays}}</span></p>
                                 <p>Cumartesi: <span>{{setting.saturday}}</span></p>
                                 <p>Pazar: <span>{{setting.sunday}}</span></p>
                            </div>

                            <ul class="social-icon">
                              <li><a href="https://www.facebook.com/{{setting.facebook}}" target="_blank" class="fa fa-facebook-square" style="color: #3b5998;" attr="facebook icon"></a></li>
                              <li><a href="https://www.twitter.com/{{setting.twitter}}" target="_blank" class="fa fa-twitter" style="color: #1da1f2;"></a></li>
                              <li><a href="https://www.instagram.com/{{setting.instagram}}" target="_blank" class="fa fa-instagram" style="color: #e4405f;"></a></li>

                            </ul>
                       </div>
                  </div>

                  <div class="col-md-12 col-sm-12 border-top">
                       <div class="col-md-4 col-sm-6">
                            <div class="copyright-text">
                                 <p>Copyright © 1993- 2022 Medical Park Hastaneler Grubu</p>
                            </div>
                       </div>

                  </div>

             </div>
        </div>
   </footer>

   <!-- SCRIPTS -->

   <script src="{% static 'js/jquery.js'%}"></script>
   <script src="{% static 'js/bootstrap.min.js'%}"></script>
   <script src="{% static 'js/jquery.sticky.js'%}"></script>
   <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
   <script src="{% static 'js/wow.min.js'%}"></script>
   <script src="{% static 'js/smoothscroll.js'%}"></script>
   <script src="{% static 'js/owl.carousel.min.js'%}"></script>
   <script src="{% static 'js/custom.js'%}"></script>
   <script src="{% static 'js/faq.js'%}"></script>
