{%  extends "homebase.html" %}

{% block title %} Hakkımızda {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <div class="news-detail-thumb">
                                    {{ setting.aboutus|safe}}  
                              </div>
                         </div>
                    </div>               
          </div>
     </section>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}