{%  extends "homebase.html" %}

{% block title %} Hakkımızda {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <h2 class="wow fadeInUp" data-wow-delay="0.1s">Hakkımızda</h2>
                         <div class="news-detail-thumb">
                                    {{ setting.aboutus|safe}}  
                         </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                         <h2 class="wow fadeInUp" data-wow-delay="0.1s">Referanslar</h2>
                         <div class="news-detail-thumb">
                                    {{ setting.references|safe}}  
                         </div>
                    </div>
               </div>               
          </div>
     </section>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}