{%  extends "homebase.html" %}

{% block title %} İletişim {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                              <h2>İletişim Formu</h2>
                              {% if messages%}
                                   {%for message in messages%}
                                        <div class="alert alert-{{message.tags}}" role="alert">
                                             {{message}}
                                        </div>
                                   {%endfor %}
                              {% endif %}

                              <form id="appointment-form" role="form"  action="" method="post">
                                   {% csrf_token %}
                                   {{form.as_p}}
                                   <button type="submit" class="form-control" id="cf-submit" name="submit">Gönder</button>
                              </form>

                         </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                              <h2>İletişim Bilgilerimiz</h2>
                         </div>
                         <div class="news-detail-thumb">
                              {{ setting.contact|safe}}  
                         </div>
                    </div>
               </div>
          </div>
     </section>


 
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}