{%  extends "homebase.html" %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}

{% load static %}  
  <section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Polikliniklerimiz</h2>
                   </div>
              </div>
              {% for rs in policlinics %}
              <div class="col-md-4 col-sm-6 col-xs-6" >
                   <!-- NEWS THUMB -->
                   <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                     
                        <a href="/policlinic/{{rs.id}}/{{rs.slug}}">
                            <img src="{{rs.image.url}}" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                             <span>{{rs.create_at}}</span>
                             <h3><a href="/policlinic/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></h3>
                             <p>{{rs.description}}</p>
                        </div>
                    
                   </div>      
              </div>  
              {% endfor %} 
         </div>
    </div>
</section>
 
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}