{%  extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% load static %}
{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ekstra.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/yildiz.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/deneme.css' %}"/>
{% endblock %}


{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

               {% for rs in policlinic %}
                  <div class="col-md-8 col-sm-7">
                       <!-- NEWS THUMB -->
                       <div class="news-detail-thumb">
                            <div class="news-image">
                                 <img src="{{rs.image.url}}" class="img-responsive" alt="">
                            </div>
                            <h3>{{rs.title}}</h3>
                            <p>{{rs.detail|safe}}</p>

                            <h3>{{rs.title}} Polikliniği Resim Galerisi</h3>
                            {% for ns in images %}
                                   <div class="gallery cf">
                                        <div>
                                             <img src="{{ns.image.url}}" class="img-responsive" alt="">
                                        </div>
                                   </div>
                              {%endfor%}
                       </div>
                  </div>
                  <div class="col-md-4 col-sm-5">
                    <div class="news-sidebar">
                         <div class="news-author">
                              <h3>Poliklinik Hakkında</h3>
                              <p>{{rs.description}}</p>
                         </div>
                         <h4>Bir Yorum Bırakın</h4>
                         <div class="recent-post">
                         {%if messages%}
                              {%for message in messages%}
                                   <div class="alert alert-{{message.tags}}"role="alert">
                                        {{message}}
                                   </div>
                              {%endfor%}
                         {%endif%}
                              <form id="appointment-form" role="form" action="/policlinic/addcomment/{{rs.id}}" method="post">
                              {% csrf_token %}
                                   <label for="name">Konu:</label>
                                   <input type="name" class="form-control" id="subject" name="subject" placeholder="Bir konu yazınız.">
                                   <label for="name">Yorumunuz:</label>
                                   <textarea class="form-control" rows="5" id="id_comment" name="comment" placeholder="Yorumunuz"></textarea>

                                   <label for="rating">Puanlayın:</label>
                                   <div class="rating">
                                        <input type="radio" name="rate" value="5" id="5"><label for="5">☆</label>
                                        <input type="radio" name="rate" value="4" id="4"><label for="4">☆</label>
                                        <input type="radio" name="rate" value="3" id="3"><label for="3">☆</label>
                                        <input type="radio" name="rate" value="2" id="2"><label for="2">☆</label>
                                        <input type="radio" name="rate" value="1" id="1"><label for="1">☆</label>
                                      
                                   </div>
                                   {%if user.id is not None%}
                                   <button type="submit" class="form-control" id="cf-submit" name="submit">Gönder</button>
                                   {%else%}
                                        Yorum eklemek için login olunuz!
                                   {% endif %}
                              </form>
                                 
                                 <div id="comments">
                                   <h3>Yorumlar</h3>
                                   <ul>
                                   {%for cm in comments%}
                                   <li>
                                   <div class="comment">
                                        <div class="review">
                                        
                                             <div class="rating">
                                                  <span class="star {% if cm.rate > 4 %} active {% endif %}">★</span>
                                                  <span class="star {% if cm.rate > 3 %} active {% endif %}">★</span>
                                                  <span class="star {% if cm.rate > 3 %} active {% endif %}">★</span>
                                                  <span class="star {% if cm.rate > 1 %} active {% endif %}">★</span>
                                                  <span class="star {% if cm.rate > 0 %} active {% endif %}">★</span>
                                             </div>

                                             <p class="comment-text" style="font-weight: bold;">{{cm.subject}}</p>
                                             <p class="comment-text">{{cm.comment}}</p>
                                             <p class="comment-author" style="font-style: italic;">{{cm.create_at}}</p>
                                             <p class="comment-author">-{{cm.user}}</p>
                                       </div> 
                                   </li>
                                   {%endfor%}
                                   </ul>
                                   </div>
     
                                   
                         </div>   
                    </div>  
               </div>              
          </div> 
          {%endfor%}
          

           
             </div>
        </div>
   </section>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}