{%  extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
    <!-- NEWS DETAIL -->
    <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

               {% for rs in policlinic %}
                  <div class="col-md-8 col-sm-7">
                       <!-- NEWS THUMB -->
                       <div class="news-detail-thumb">
                            <div class="news-image">
                                 <img src="{{rs.image.url}}" class="img-responsive" alt="">
                            </div>
                            <h3>{{rs.title}}</h3>
                            <p>{{rs.detail|safe}}</p>
                            
                            <div class="news-social-share">
                                 <h4>Sosyal Medyada Paylaş</h4>
                                      <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                                      <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                                      <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                            </div>
                       </div>
                  </div>

                  <div class="col-md-4 col-sm-5">
                       <div class="news-sidebar">
                            <div class="news-author">
                                 <h4>About the author</h4>
                                 <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque.</p>
                            </div>

                            <div class="recent-post">
                                 <h4>Recent Posts</h4>

                                      <div class="media">
                                           <div class="media-object pull-left">
                                                <a href="#"><img src="images/news-image.jpg" class="img-responsive" alt=""></a>
                                           </div>
                                           <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Introducing a new healing process</a></h4>
                                           </div>
                                      </div>

                                      <div class="media">
                                           <div class="media-object pull-left">
                                                <a href="#"><img src="images/news-image.jpg" class="img-responsive" alt=""></a>
                                           </div>
                                           <div class="media-body">
                                                <h4 class="media-heading"><a href="#">About Amazing Technology</a></h4>
                                           </div>
                                      </div>
                            </div>

                            <div class="news-categories">
                                 <h4>Categories</h4>
                                      <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                                      <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                                      <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                                      <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                            </div>

                            <div class="news-ads sidebar-ads">
                                 <h4>Sidebar Banner Ad</h4>
                            </div>

                            <div class="news-tags">
                                 <h4>Tags</h4>
                                      <li><a href="#">Pregnancy</a></li>
                                      <li><a href="#">Health</a></li>
                                      <li><a href="#">Consultant</a></li>
                                      <li><a href="#">Medical</a></li>
                                      <li><a href="#">Doctors</a></li>
                                      <li><a href="#">Social</a></li>
                            </div>
                       </div>
                       
                  </div>
               {%endfor%}

             </div>
        </div>
   </section>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}