{%  extends "homebase.html" %}

{% block title %} Kayıt Ol {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/png' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block header %}{% include 'header.html'%}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
         <div class="row">
              <div class="col-md-6">
                   <div class="billing-details">
                        <div class="section-title">
                             <h3 class="wow fadeInUp" data-wow-delay="0.1s">Kayıt Ol</h3>
                        </div>

                        {% if messages%}
                             {%for message in messages%}
                                  <div class="alert alert-{{message.tags}}" role="alert">
                                       {{message}}
                                  </div>
                             {%endfor %}
                        {% endif %}

                        <form method="post">
                            {%  csrf_token %}
                            {%for field in form%}
                                <p>
                                    {{field.label_tag}}<br>
                                    {{field}}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{field.help_text}}</small>
                                    {%endif%}
                                    {%for error in field.errors%}
                                        <p style="color: red">{{error}}</p>
                                    {%endfor%}
                                </p>
                            {%endfor%}
                            <button type="submit">Kayıt Ol</button>
                        </form>


{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}