{% load static %}    
     <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>    

   <!-- MENU -->
   <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="/" class="navbar-brand"><i class="fa fa-h-square"></i>MedicalPark</a>
             </div>

             

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
               <form action="/search/" method="POST">
                    {%csrf_token%}
                    <div class="search-box">
                         <input type="text" name="query" placeholder="Arayın..." >
                         <button class="search-btn"><i class="fa fa-search"></i></button>
                    </div>
               </form>

                  <ul class="nav navbar-nav navbar-right">
                    
                       <li><a href="/" class="smoothScroll">ANASAYFA</a></li>
                       <li><a href="/hakkimizda" class="smoothScroll">HAKKIMIZDA</a></li>
                       <li><a href="/tibbi-birimler" class="smoothScroll">TIBBİ BİRİMLER</a></li>
                       <li><a href="/doktorlar" class="smoothScroll">DOKTORLAR</a></li>
                       <li><a href="/iletisim" class="smoothScroll">İLETİŞİM</a></li>
                       <li><a href="/sss" class="smoothScroll">SSS</a></li>
                       <li><a href="/randevu" class="smoothScroll">RANDEVU</a></li>
                       
                       {%if user.id is not None%}
                       <li><a href="/profile" class="smoothScroll"  style="font-style: italic;">{{user.first_name}} {{user.last_name}}</a></li>
                       <li class="appointment-btn"><a href="/logout/">Log out</a></li>
                       {%else%}
                       <li class="appointment-btn"><a href="/login/">Login</a></li>
                       <li class="appointment-btn"><a href="/register/">Register</a></li>
                       {%endif%}
                       
                  </ul>
             </div>

        </div>
   </section>