{% load static %}    
     <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>    

   <!-- MENU -->
   <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Center</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                       <li><a href="/" class="smoothScroll">ANASAYFA</a></li>
                       <li><a href="/hakkimizda" class="smoothScroll">HAKKIMIZDA</a></li>
                       <li><a href="/tibbi-birimler" class="smoothScroll">TIBBİ BİRİMLER</a></li>
                       <li><a href="/doktorlar" class="smoothScroll">DOKTORLAR</a></li>
                       <li><a href="/iletisim" class="smoothScroll">İLETİŞİM</a></li>
                       <li><a href="/referans" class="smoothScroll">REFERANS</a></li>
                       <li class="appointment-btn"><a href="/randevu">RANDEVU AL</a></li>
                  </ul>
             </div>

        </div>
   </section>