{% load static %}    
     <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

             <span class="spinner-rotate"></span>
             
        </div>
   </section>    

   <!-- MENU -->
   <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

             <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                       <span class="icon icon-bar"></span>
                  </button>

                  <!-- lOGO TEXT HERE -->
                  <a href="index.html" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Center</a>
             </div>

             <!-- MENU LINKS -->
             <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                       <li><a href="/" class="smoothScroll">Anasayfa</a></li>
                       <li><a href="/hakkimizda" class="smoothScroll">Hakkımızda</a></li>
                       <li><a href="/doctors" class="smoothScroll">Doctors</a></li>
                       <li><a href="/haberler" class="smoothScroll">Haberler</a></li>
                       <li><a href="/iletisim" class="smoothScroll">İletişim</a></li>
                       <li><a href="/referans" class="smoothScroll">Referans</a></li>
                       <li class="appointment-btn"><a href="/randevu">Randevu Al</a></li>
                  </ul>
             </div>

        </div>
   </section>