{% load static %}  
<!-- HOME -->
<section id="home" class="slider" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">
               <div class="owl-carousel owl-theme">
               {% for rs in sliderdata %}    
                    <div class="caption">
                         <img src="{{rs.image.url}}" alt="" width="700" height="650">
                         <div class="col-md-offset-1 col-md-10">
                                   <h2>{{rs.title}}</h2 >
                                   <h3>{{rs.description}}</h3>
                                   <a href="policlinic/{{rs.id}}/{{rs.slug}}" class="section-btn btn btn-default smoothScroll">Keşfet</a>
                         </div>
                    </div>
               {% endfor %}
               </div>
          </div>
     </div>
</section>