@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}




/* CSS kodu */
#comment-form {
  display: flex;
  flex-direction: column;
}

#comment-form textarea {
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
}

#comments {
  margin-top: 20px;
}

#comments h3 {
  margin-bottom: 10px;
}

#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments .comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#comments .comment-text {
  font-size: 14px;
  margin-bottom: 5px;
}

#comments .comment-author {
  color: #666;
  font-size: 12px;
}

 
 
 





 
