

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #ddd;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.policlinic-name {
  font-weight: bold;
}

.img-responsive {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
